<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title})">
    <title>회원가입</title>
</head>
<body>

<!-- Header Start -->
<header th:replace="fragments/header :: navigation">
</header>
<!-- Header Close -->

<div class="main-wrapper ">
    <section class="page-title bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block text-center">
                        <span class="text-white">정보수정</span>
                        <h1 class="text-capitalize mb-4 text-lg">회원 정보 수정</h1>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="/csblog" class="text-white">홈</a></li>
                            <li class="list-inline-item"><span class="text-white">/</span></li>
                            <li class="list-inline-item"><a href="#" class="text-white-50">정보수정</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact form start -->
    <section class="contact-form-wrap section">
        <div class="container">
            <div class="row" style="float: none; margin:0 auto;">
                <div class="col-lg-6 col-md-12 col-sm-12" style="float: none; margin:0 auto;">
                    <form id="contact-form" class="contact__form" th:object="${joinForm}" method="post" enctype="multipart/form-data">
                        <!-- form message -->
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                    Your message was sent successfully.
                                </div>
                            </div>
                        </div>
                        <!-- end message -->
                        <h3 class="text-md mb-4">회원 정보 수정</h3>
                        <div class="form-inline form-group">
                            <div class="col-sm-3" style="text-align: -webkit-center;top: 13px;">
                                <div th:for="*{name}" class="justifyAsia" style="font-weight:bold;color:#000000;">이 름</div>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" th:field="*{name}" placeholder="Your Name" class="form-control" readonly style="background-color: #e5e5e5">
                            </div>
                            <p th:errors="*{name}" style="color: #dc3545">message</p>
                        </div>
                        <div class="form-inline form-group">
                            <div class="col-sm-3" style="text-align: -webkit-center;top: 13px;">
                                <div th:for="*{uid}" class="justifyAsia" style="font-weight:bold;color:#000000;">아 이 디</div>
                            </div>
                            <div class="col-sm-9">
                                <input type="email" th:field="*{uid}" placeholder="Email Address" class="form-control" readonly style="background-color: #e5e5e5">
                            </div>
                            <p th:errors="*{uid}" style="color: #dc3545">message</p>
                        </div>
                        <div class="form-inline form-group">
                            <div class="col-sm-3" style="text-align: -webkit-center;top: 13px;">
                                <div th:for="*{pw}" class="justifyAsia" style="font-weight:bold;color:#000000;">비밀번호</div>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" th:field="*{pw}" placeholder="Password" class="form-control">
                            </div>
                            <p th:errors="*{pw}" style="color: #dc3545">message</p>
                        </div>
                        <div class="form-inline form-group">
                            <div class="col-sm-3" style="text-align: -webkit-center;top: 13px;">
                                <div th:for="*{studentId}" class="justifyAsia" style="font-weight:bold;color:#000000;">학 번</div>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" th:field="*{studentId}" placeholder="Student ID" class="form-control" readonly style="background-color: #e5e5e5">
                            </div>
                            <p th:errors="*{studentId}" style="color: #dc3545">message</p>
                        </div>
                        <div class="form-inline form-group">
                            <div class="col-sm-3" style="text-align: -webkit-center;top: 13px;">
                                <div th:for="*{tel}" class="justifyAsia" style="font-weight:bold;color:#000000;">전화번호</div>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" th:field="*{tel}" placeholder="Tel" class="form-control">
                            </div>
                            <p th:errors="*{tel}" style="color: #dc3545">message</p>
                        </div>
                        <div class="form-inline form-group">
                            <div class="col-sm-3" style="text-align: -webkit-center;top: 13px;">
                                <div th:for="*{profile}" class="justifyAsia" style="font-weight:bold;color:#000000;">사 진</div>
                            </div>
                            <div class="col-sm-9">
                                <input type="file" th:field="*{profile}" class="form-control" accept="image/gif,image/jpeg,image/png">
                            </div>
                            <p th:errors="*{profile}" style="color: #dc3545">message</p>

                            <div class="col-sm-3"></div>
                            <img th:src="@{/csblog/members/images/{image}(image=${joinForm.fileName})}" alt="" class="img-fluid rounded mb-2" style="width: 160px;max-height: 120px;">
                            <input type="hidden" th:field="*{fileName}" th:value="*{fileName}">
                        </div>
                        <a href="#" class="btn btn-main" onclick="document.getElementById('contact-form').submit();">수정하기</a>
                        <a th:href="@{|/csblog/members/${joinForm.id}/delete|}" class="btn btn-main">탈퇴하기</a>
                    </form>
                </div>


            </div>
        </div>
    </section>

    <!-- footer Start -->
    <footer th:replace="fragments/footer :: common_footer">
    </footer>

</div>

<!--
Essential Scripts
=====================================-->

<div th:replace="fragments/footer :: footer_bottom">
</div>

</body>
</html>