<html xmlns:th="http://www.thymeleaf.org">
<footer class="footer section" th:fragment="common_footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widget">
                    <h4 class="text-capitalize mb-4">Company</h4>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="widget">
                    <h4 class="text-capitalize mb-4">Quick Links</h4>

                    <ul class="list-unstyled footer-menu lh-35">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widget">
                    <h4 class="text-capitalize mb-4">Subscribe Us</h4>
                    <p>Subscribe to get latest news article and resources  </p>

                    <form action="#" class="sub-form">
                        <input type="text" class="form-control mb-3" placeholder="Subscribe Now ...">
                        <a href="#" class="btn btn-main btn-small">subscribe</a>
                    </form>
                </div>
            </div>

            <div class="col-lg-3 ml-auto col-sm-6">
                <div class="widget">
                    <div class="logo mb-4">
                        <h3>Mega<span>kit.</span></h3>
                    </div>
                    <h6><a href="tel:+23-345-67890" >Support@megakit.com</a></h6>
                    <a href="mailto:support@gmail.com"><span class="text-color h4">+23-456-6588</span></a>
                </div>
            </div>
        </div>

        <div class="footer-btm pt-4">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="copyright">
                        &copy; Copyright Reserved to <span class="text-color">Megakit.</span> by <a href="https://themefisher.com/" target="_blank">Themefisher</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="copyright">
                        Distributed by  <a href="https://themewagon.com/" target="_blank">Themewagon</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 text-left text-lg-left">
                    <ul class="list-inline footer-socials">
                        <li class="list-inline-item"><a href="https://www.facebook.com/themefisher"><i class="ti-facebook mr-2"></i>Facebook</a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/themefisher"><i class="ti-twitter mr-2"></i>Twitter</a></li>
                        <li class="list-inline-item"><a href="https://www.pinterest.com/themefisher/"><i class="ti-linkedin mr-2 "></i>Linkedin</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div th:fragment="footer_bottom">
    <!-- Main jQuery -->
    <script src="/megakit-2/plugins/jquery/jquery.js"></script>
    <script src="/megakit-2/plugins/jquery/jquery-3.4.1.js"></script>
    <script src="/megakit-2/js/contact.js"></script>
    <!-- Bootstrap 4.3.1 -->
    <script src="/megakit-2/plugins/bootstrap/js/popper.js"></script>
    <script src="/megakit-2/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--  Magnific Popup-->
    <script src="/megakit-2/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Slick Slider -->
    <script src="/megakit-2/plugins/slick-carousel/slick/slick.min.js"></script>
    <!-- Counterup -->
    <script src="/megakit-2/plugins/counterup/jquery.waypoints.min.js"></script>
    <script src="/megakit-2/plugins/counterup/jquery.counterup.min.js"></script>

    <!-- Google Map -->
    <script src="/megakit-2/plugins/google-map/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkeLMlsiwzp6b3Gnaxd86lvakimwGA6UA&callback=initMap"></script>

    <script src="/megakit-2/js/script.js"></script>

    <script>
        $(document).ready(function (){
            $.ajax({
                url : "/csblog/category/categoryList",
                type:"POST",
                dataType:"json",
                contentType : "application/json; charset=UTF-8",
                error: function (){
                    alert("메뉴를 불러오지 못했습니다.");
                },
                success: function (categorys){
                    var afterHtml = "";
                    for(var i=0; i<categorys.length;i++){
                        if(categorys[i].categoryId == 0) {
                            var boxTrue = false;
                            for(var j=0; j<categorys.length;j++){
                                if(categorys[i].id == categorys[j].categoryId){
                                    boxTrue = true;
                                    break;
                                }
                            }
                            if(boxTrue){
                                afterHtml +=
                                    "<li class='nav-item dropdown'>\n" +
                                    "                                <a class='nav-link dropdown-toggle' href='#' id='dropdown"+ categorys[i].id +"' data-toggle='dropdown'\n" +
                                    "                                   aria-haspopup='true' aria-expanded='false'>" + categorys[i].name + "</a>" +
                                    "<ul class=\'dropdown-menu\' aria-labelledby=\'dropdown" +categorys[i].id+ "\'>";
                                for(var j=0; j<categorys.length;j++){
                                    if(categorys[j].categoryId == (categorys[i].id)){
                                        afterHtml += "<li><a class='dropdown-item' href='/csblog/blogs/category/" +categorys[j].id+ "'>" +categorys[j].name + "</a></li>";
                                    }
                                }
                                afterHtml +=
                                    "</ul>" +
                                    "</li>";
                            }else{
                                afterHtml += "<li class='nav-item'><a class='nav-link' href='/csblog/blogs/category/" +categorys[i].id+ "'>" +categorys[i].name+ "</a></li>";
                            }
                        }
                    }
                    document.querySelector("#categoryList").innerHTML += afterHtml;
                    //$('#categoryList').innerHTML += afterHtml;
                }
            });
        })
    </script>
</div>