<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="megakit,business,company,agency,multipurpose,modern,bootstrap4">

    <meta name="author" content="themefisher.com">

    <title th:replace="${title}">Title</title>

    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="/megakit-2/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Icon Font Css -->
    <link rel="stylesheet" href="/megakit-2/plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="/megakit-2/plugins/fontawesome/css/all.css">
    <link rel="stylesheet" href="/megakit-2/plugins/magnific-popup/dist/magnific-popup.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/megakit-2/plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/megakit-2/plugins/slick-carousel/slick/slick-theme.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="/megakit-2/css/style.css">

    <style>
        .img-wrapper { position: relative;height: 250px; } .img-wrapper a img { position: absolute; top: 0; left: 0; transform: translate(50, 50); width: 100%; height: 100%; object-fit: cover; margin: auto; }
        .thumbnail-wrapper { position: relative;} .thumbnail-wrapper img { position: absolute; top: 0; left: 0; transform: translate(50, 50); width: 100%; height: 100%; object-fit: cover; margin: auto; }
        .justifyAsia{text-align: justify;max-width: 70px;} .justifyAsia:after{content: "";display: inline-block;width: 100%;}
    </style>
</head>

<header class="navigation" th:fragment="navigation">
    <div class="header-top ">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-2 col-md-4">
                    <div class="header-top-socials text-center text-lg-left text-md-left">
                        <a href="https://www.facebook.com/themefisher" target="_blank"><i class="ti-facebook"></i></a>
                        <a href="https://twitter.com/themefisher" target="_blank"><i class="ti-twitter"></i></a>
                        <a href="https://github.com/themefisher/" target="_blank"><i class="ti-github"></i></a>
                    </div>
                </div>
                <div class="col-lg-10 col-md-8 text-center text-lg-right text-md-right">
                    <div class="header-top-info" th:if="${session.isEmpty()}">
                    </div>
                    <div class="header-top-info" th:unless="${session.isEmpty()}">
                        <a th:href="'tel:' + ${session.loginMember.tel}">이름 : <span th:text="${session.loginMember.name}"></span></a>
                        <a th:href="'mailto:' + ${session.loginMember.uid}"><i class="fa fa-envelope mr-2"></i><span th:text="${session.loginMember.uid}"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg  py-4" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="/csblog">
                Computer<span>software.</span>
            </a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>

            <div class="collapse navbar-collapse text-center" id="navbarsExample09">
                <ul class="navbar-nav ml-auto" id="categoryList">
                    <li class="nav-item active">
                        <a class="nav-link" href="/csblog">홈 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a th:if="${session.isEmpty()}" class="nav-link" href="/csblog/members/join">회원가입</a>
                        <a th:unless="${session.isEmpty()}" class="nav-link" th:href="@{|/csblog/members/${session.loginMember.id}/update|}">정보변경</a>
                    </li>
                    <li class="nav-item" th:if="${!session.isEmpty() && session.loginMember.admin ==1}">
                        <a class="nav-link" href="/csblog/category/">메뉴 수정</a>
                    </li>
                </ul>

                <form th:if="${session.isEmpty()}" class="form-lg-inline my-2 my-md-0 ml-lg-4 text-center">
                    <a href="/csblog/members/login" class="btn btn-solid-border btn-round-full">로그인</a>
                </form>
                <form th:unless="${session.isEmpty()}" class="form-lg-inline my-2 my-md-0 ml-lg-4 text-center">
                    <a href="/csblog/members/logout" class="btn btn-solid-border btn-round-full">로그아웃</a>
                </form>
            </div>
        </div>
    </nav>
</header>

