<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: common_header(~{::title})">
	<title>블로그</title>
</head>

<!-- Header Start -->
<header th:replace="fragments/header :: navigation">
</header>
<!-- Header Close -->

<style>
	.btn-del{
		color: rgb(255, 255, 255) !important;
		padding: 10px 20px;
		background: #db6667;
		border-radius: 20px;
	}
	.btn-del:hover{
		color: rgb(255, 255, 255);
		background: #f60001;
		-webkit-transition: all 0.3s ease;
	}
	.btn-edit{
		color: rgb(255, 255, 255);
		padding: 10px 20px;
		background: #5ec1a5;
		border-radius: 20px;
	}
	.btn-edit:hover{
		color: rgb(255, 255, 255);
		background: #3ee3db;
		-webkit-transition: all 0.3s ease;
	}
</style>

<div class="main-wrapper ">
<section class="page-title bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">컴소블로그</span>
          <h1 class="text-capitalize mb-4 text-lg"><span th:text="${blog.category.name}"></span></h1>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="index.html" class="text-white">홈</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a th:href="@{/csblog/blogs/category/{categoryId}(categoryId=${blog.category.id})}" class="text-white-50" th:text="${blog.category.name}"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="section blog-wrap bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
				<div class="row">
					<div class="col-lg-5 text-left" style="margin-top: 13px;">
						<h5 style="font-weight: 800"><i class="fas fa-clipboard-list"></i> <span th:text="${blog.category.name}"></span></h5>
					</div>
					<div class="col-lg-7 text-right">
						<th:block th:if="${session.loginMember} and ${session.loginMember.id == blog.member.id}">
							<form name="delForm" th:action="@{/csblog/blogs/del/{blogId}(blogId=${blog.id})}" method="POST">
								<a th:href="@{/csblog/blogs/edit/{blogId}(blogId=${blog.id})}" class="btn btn-edit btn-round-full" style="font-size:15px;"><i class="fas fa-pencil-alt"></i> 수정</a>
								<a class="btn btn-del btn-round-full" style="font-size:15px;" onclick="if(confirm('삭제하시겠습니까?')) document.delForm.submit()"><i class="fas fa-trash-alt"></i> 삭제</a>
							</form>
						</th:block>
					</div>
				</div>
				<hr>
                <div class="row">
					<div class="col-lg-12 mb-5">
						<div class="single-blog-item">
							<img th:src="@{/csblog/blogs/images/{image}(image=${blog.image})}" alt="" class="img-fluid rounded" style="width: 100%;max-height: 800px;">

							<div class="blog-item-content bg-white p-5">
								<div class="blog-item-meta bg-gray py-1 px-2">
									<span class="text-muted text-capitalize mr-3"><i class="ti-pencil-alt mr-2"></i><th:block  th:text="' ' + ${blog.category.name}"></th:block></span>
									<span id="comment-count" class="text-muted text-capitalize mr-3"><i class="ti-comment mr-2"></i><th:block  th:text="' ' + ${blog.comments.size()} + '개'"></th:block></span>
									<span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i><th:block  th:text="' ' + ${(blog.getBetweenToday().getSeconds()/86400 > 0)? blog.getBetweenToday().getSeconds()/86400 + '일 전': '오늘'}"></th:block></span>
								</div>

								<h2 class="mt-3 mb-4"><a th:text="${blog.title}" style="line-break: anywhere"></a></h2>
								<p class="lead mb-4" th:utext="${#strings.replace(#strings.replace(blog.content, newLineChar, '<br>'), ' ', '&nbsp;')}" style="line-break: anywhere"></p>

								<hr>
								<div class="tag-option mt-2 clearfix">
									<ul class="float-left list-inline">
										<li style="font-weight: bold">Tags:</li>
										<li class="list-inline-item"><a th:href="@{/csblog/blogs/category/{categoryId}(categoryId=${blog.category.id})}" rel="tag" th:text="${blog.category.name}"></a></li>
									</ul>

									<ul class="float-right list-inline">
										<li class="list-inline-item" style="font-weight: bold"> Post by : </li>
										<li class="list-inline-item" th:text="${blog.member.name}"></li>
										<li class="list-inline-item" th:text="${#strings.replace((#strings.substring(blog.createDate,0,16)), 'T', ' ')}">2021-12-30 21:12</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<!--
					<div class="col-lg-12 mb-5">
						<div class="posts-nav bg-white p-5 d-lg-flex d-md-flex justify-content-between ">
							<a class="post-prev align-items-center" href="#">
								<div class="posts-prev-item mb-4 mb-lg-0">
									<span class="nav-posts-desc text-color">- Previous Post</span>
									<h6 class="nav-posts-title mt-1">
										Donec consectetuer ligula <br>vulputate sem tristique.
									</h6>
								</div>
							</a>
							<div class="border"></div>
							<a class="posts-next" href="#">
								<div class="posts-next-item pt-4 pt-lg-0">
									<span class="nav-posts-desc text-lg-right text-md-right text-color d-block">- Next Post</span>
									<h6 class="nav-posts-title mt-1">
										Ut aliquam sollicitudin leo.
									</h6>
								</div>
							</a>
						</div>
					</div>
					-->
					<div class="col-lg-12 mb-5">
						<div class="comment-area card border-0 p-5">
							<div id="comment-head">
								<h4 class="mb-4" th:text="${blog.comments.size()} + ' ' + 'Comments'"></h4>
								<div id="comment-body">
									<ul class="comment-tree list-unstyled" th:each="comment : ${comments}">
										<li class="mb-5" th:id="'commentNum'+${comment.id}">
											<div class="comment-area-box">
												<div class="thumbnail-wrapper" style="margin-right: 70px;">
													<img alt="" th:src="@{/csblog/members/images/{image}(image=${comment.member.profile})}" class="img-fluid float-left mr-3 mt-2" style="width: 40px;height: 40px;position: relative">
												</div>
												<h5 class="mb-1" th:text="'작성자: ' + ${comment.member.name}"></h5>
												<span th:text="'학번: ' + ${comment.member.studentId}">학번 : </span>
												<div class="comment-meta mt-4 mt-lg-0 mt-md-0 float-lg-right float-md-right">
													<a href="#content" th:onclick="|editComment(${comment.id}, ${blog.id}, ${session.loginMember?.id})|" th:if="${session.loginMember?.id == comment.member.id}"><i class="icofont-reply mr-2 text-muted"></i>수정 |</a>
													<span class="date-comm" th:text="'Posted ' + ${#strings.replace((#strings.substring(comment.createDate,0,16)), 'T', ' ')}"></span>
												</div>

												<div class="comment-content mt-3">
													<p th:id="'content'+${comment.id}" th:text="'&nbsp;' + ${comment.content} + ' '"></p>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="row mt-5">
								<div class="col-lg-12 text-center">
									<nav class="navigation pagination py-2 d-inline-block">
										<div class="nav-links" id="comment-paging">
											<a th:if="${page.hasPreviousPage}" class="prev page-numbers" href="javascript:;"
											   th:onclick="|loadComment(${blog.id}, ${page.firstPage - 1}, ${session.loginMember?.id})|">Prev</a>
											<th:block th:each="p: ${#numbers.sequence(page.firstPage, page.lastPage)}">
												<th:block th:if="${page.currentPageNo == p}">
													<span aria-current="page" class="page-numbers current">
														<span th:text="${p}"></span>
													</span>
												</th:block>
												<th:block th:unless="${page.currentPageNo == p}">
													<a class="page-numbers" href="javascript:;"
													   th:onclick="|loadComment(${blog.id}, ${p}, ${session.loginMember?.id})|">
														<span th:text="${p}"></span>
													</a>
												</th:block>
											</th:block>
<!--											<a th:if="${page.hasNextPage}" class="next page-numbers"-->
<!--											   th:href="@{/csblog/blogs/{blogId}(blogId=${blog.id}, page=${page.firstPage + 1})}">Next</a>-->
											<a th:if="${page.hasNextPage}" class="next page-numbers" href="javascript:;"
											   th:onclick="|loadComment(${blog.id}, ${page.lastPage + 1}, ${session.loginMember?.id})|">Next</a>
										</div>
									</nav>
								</div>
							</div>
						</div>
						</div>
					<div class="col-lg-12">
						<form class="contact-form bg-white rounded p-5" id="comment-form">
							<h4 class="mb-4">댓글 작성하기</h4>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span th:if="${session.loginMember?.id}" th:text="'이름 : ' + ${session.loginMember.name}"></span>
										<span th:unless="${session.loginMember?.id} != null" th:text="'이름 : '"></span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<span th:if="${session.loginMember?.id}" th:text="'이메일 : ' + ${session.loginMember.uid}"></span>
										<span th:unless="${session.loginMember?.id} != null" th:text="'이메일 : '"></span>
									</div>
								</div>
							</div>

							<input type="hidden" name="member_id" id="member_id" th:if="${session.loginMember?.id}" th:value="${session.loginMember.id}">
							<textarea class="form-control mb-3" name="content" id="content" cols="40" rows="5" placeholder="Comment" th:disabled="!${session.loginMember?.id}"></textarea>

							<input class="btn btn-main btn-round-full" type="submit" name="submit-contact" id="no-submit" th:disabled="!${session.loginMember?.id}" th:if="!${session.loginMember?.id}" th:value="${'로그인 후 작성'}" style="font-size: 20px;">
							<div id="comment-btn">
								<button type="button" class="btn btn-main btn-round-full" th:onclick="|addComment(${blog.id}, ${session.loginMember?.id}, null)|" name="submit-contact" id="submit_contact" th:if="${session.loginMember?.id}" th:text="${'댓글 등록'}" style="font-size: 20px;"></button>
							</div>
						</form>
					</div>
				</div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-wrap">
					<form id="searchBox" th:action="@{/csblog/blogs/category/{categoryId}(categoryId=${blog.category.id})}" method="GET">
						<div class="sidebar-widget search card p-4 mb-3 border-0">
							<input type="text" name="searchText" class="form-control" placeholder="검색" onkeydown="if(event.keyCode==13)document.getElementById('searchBox').submit();">
							<a href="#" class="btn btn-mian btn-small d-block mt-2" onclick="document.getElementById('searchBox').submit()">search</a>
						</div>
					</form>
					<div class="sidebar-widget latest-post card border-0 p-4 mb-3">
						<h5>최근 작성된 게시글</h5>
						<th:block th:each="blog : ${lastBlogList}">
							<div class="media border-bottom py-3">
								<div class="thumbnail-wrapper" style="margin-right: 100px;">
									<a th:href="@{/csblog/blogs/{blogId}(blogId=${blog.id})}"><img class="mr-4" th:src="@{/csblog/blogs/images/{image}(image=${blog.image})}" alt="" style="width: 87px;height: 72px;"></a>
								</div>
								<div class="media-body">
									<h6 class="my-2"><a th:href="@{/csblog/blogs/{blogId}(blogId=${blog.id})}" th:text="${blog.title}" style="display: -webkit-box;-webkit-box-orient: vertical;line-break: anywhere;-webkit-line-clamp:2;overflow: hidden;"></a></h6>
									<span class="text-sm text-muted" th:text="${#strings.substring(blog.createDate,0,10)}"></span>
								</div>
							</div>
						</th:block>
					</div>
					<div class="sidebar-widget bg-white p-4 mb-3">
						<h5 class="mb-4">Follow Us</h5>
						<ul class="list-inline author-socials text-center" >
							<li class="list-inline-item mr-3">
								<a href="https://ko-kr.facebook.com/pg/indukadpr/posts/?ref=page_internal" target="_blank"><i class="fab fa-facebook-f text-muted"></i></a>
							</li>
							<li class="list-inline-item mr-3">
								<a href="https://twitter.com/induklibrary" target="_blank"><i class="fab fa-twitter text-muted"></i></a>
							</li>
							<li class="list-inline-item mr-3">
								<a href="https://www.instagram.com/explore/tags/%EC%9D%B8%EB%8D%95%EB%8C%80/" target="_blank"><i class="fab fa-instagram text-muted"></i></a>
							</li>
							<li class="list-inline-item mr-3">
								<a href="https://www.induk.ac.kr/KR/intro.do" target="_blank"><i class="fab fa-pinterest text-muted"></i></a>
							</li>
							<li class="list-inline-item mr-3">
								<a href="https://www.behance.net/" target="_blank"><i class="fab fa-behance text-muted"></i></a>
							</li>
							<li class="list-inline-item mr-3">
								<a href="https://www.google.com/search?q=%EC%9D%B8%EB%8D%95%EB%8C%80&sxsrf=AOaemvIo3_-fqAzF7mRIaV9krwfjKgIRkA%3A1637148400689&ei=8OaUYeTUKYH7wAOfsaTADg&oq=%EC%9D%B8%EB%8D%95%EB%8C%80&gs_lcp=Cgdnd3Mtd2l6EAMyBAgjECcyBAguECcyBAgjECcyBAgAEEMyBQgAEIAEMgQIABBDMgQIABBDMgQIABBDMgUIABCABDIFCAAQgAQ6DQgAEIAEEIcCELEDEBQ6DgguEIAEELEDEMcBENEDOggIABCABBCxAzoLCC4QgAQQxwEQ0QM6CwgAEIAEELEDEIMBOgsILhCABBDHARCvAUoECEEYAFAAWNYFYJ8HaABwAHgAgAGCAYgBlweSAQMwLjiYAQCgAQHAAQE&sclient=gws-wiz&ved=0ahUKEwjkjPiGpZ_0AhWBPXAKHZ8YCegQ4dUDCA4&uact=5" target="_blank"><i class="fab fa-google text-muted"></i></a>
							</li>
						</ul>
					</div>
				</div>
            </div>
        </div>
    </div>
</section>


<!-- footer Start -->
	<!-- footer Start -->
	<footer th:replace="fragments/footer :: common_footer">
	</footer>

</div>

<!--
Essential Scripts
=====================================-->

<div th:replace="fragments/footer :: footer_bottom">
</div>

  </body>

<script>
	function addComment(blogId, memberId, commentId){
		if($('#content').val() == "") {
			alert("댓글을 작성해 주세요.");
			$('#content').focus();
			return;
		}

		var data = {
			blog_id:blogId,
			member_id:memberId,
			content:$('#content').val(),
			id:commentId
		}

		$.ajax({
			url: "/csblog/blogs/comments/addAjax",
			data: JSON.stringify(data),
			type:"POST",
			dataType: "json",
			contentType: "application/json; charset=UTF-8",
			error: function(){
				alert("연결 실패");
			},
			success: function(comments){
				alert('작성되었습니다.');
				$("#comment-head").children().remove();

				$("#comment-count").children().remove();

				var item = "<i class=\"ti-comment mr-2\"></i>" + comments.length + "개";
				$("#comment-count").html(item);

				console.log(comments);
				item = "<h4 class=\"mb-4\">" + comments.length + " Comments" + "</h4>" +
						"<ul class=\"comment-tree list-unstyled\">"+
						"<div id=\"comment-body\">";

				var total = 0;
				if(comments.length <= 5) {
					total = comments.length;
				} else {
					total = 5;
				}

				 for(var x=0; x<total; x++) {
				 		item += "<li class=\"mb-5\" id=\"commentNum" + comments[x].id + "\">" +
				 					"<div class=\"comment-area-box\">" +
										"<div class='thumbnail-wrapper' style='margin-right: 70px;'>" +
											"<img alt=\"\" src=\"/csblog/members/images/" + comments[x].member.profile + "\" class=\"img-fluid float-left mr-3 mt-2\" style=\"width: 40px;height: 40px;position:relative\">" +
					 					"</div>" +
				 						"<h5 class=\"mb-1\">작성자 : " + comments[x].member.name + "</h5>" +
										"<span>학번 :" +comments[x].member.studentId+ "</span>" +
				 						"<div class=\"comment-meta mt-4 mt-lg-0 mt-md-0 float-lg-right float-md-right\">";
				 						console.log(memberId)
				 						if(comments[x].member.id == memberId)
				 							item +=	"<a href=\"#content\" onclick='editComment("+ comments[x].id + ", " + comments[x].blog.id + ", " + comments[x].member.id + ")'><i class=\"icofont-reply mr-2 text-muted\"></i>수정 |</a>";

										item += "<span class=\"date-comm\">Posted " + comments[x].createDate + "</span>" +
				 						"</div>" +
				 						"<div class=\"comment-content mt-3\">" +
				 							"<p id='content"+ comments[x].id +"'>" + comments[x].content + "</p>" +
				 						"</div>" +
				 					"</div>" +
				 				"</li>";
				 }
				item += "</div></ul>";

				$("#comment-head").html(item);
				$("#commentNum" + comments[comments.length-1].id).focus();

				document.getElementById("content").innerText = null;
				resetComment(blogId, memberId);

				commentPaging(blogId, 1, memberId);
			}
		});
	}

	function delComment(commentId, memberId, blogId){
		var check = confirm("삭제할까요 ?");
		if (check == true) {
			var data = {
				commentId:commentId
			}
			$.ajax({
				url: "/csblog/blogs/comments/delAjax",
				data: JSON.stringify(data),
				type:"POST",
				dataType: "json",
				contentType: "application/json; charset=UTF-8",
				error: function(){
					alert("연결 실패");
				},
				success: function (comments) {
					alert('삭제되었습니다.');
					$("#comment-head").children().remove();

					$("#comment-count").children().remove();

					var item = "<i class=\"ti-comment mr-2\"></i>" + comments.length + "개";
					$("#comment-count").html(item);

					console.log(comments);

					item = "<h4 class=\"mb-4\">" + comments.length + " Comments" + "</h4>" +
							"<ul class=\"comment-tree list-unstyled\">"+
							"<div id=\"comment-body\">";

					var total = 0;
					if(comments.length <= 5) {
						total = comments.length;
					} else {
						total = 5;
					}

					for(var x=0; x<total; x++) {
						item += "<li class=\"mb-5\" id=\"commentNum" + comments[x].id + "\">" +
								"<div class=\"comment-area-box\">" +
								"<div class='thumbnail-wrapper' style='margin-right: 70px;'>" +
									"<img alt=\"\" src=\"/csblog/members/images/" + comments[x].member.profile + "\" class=\"img-fluid float-left mr-3 mt-2\" style=\"width: 40px;height: 40px;position:relative\">" +
								"</div>" +
								"<h5 class=\"mb-1\">작성자 : " + comments[x].member.name + "</h5>" +
								"<span>학번 :" +comments[x].member.studentId+ "</span>" +
								"<div class=\"comment-meta mt-4 mt-lg-0 mt-md-0 float-lg-right float-md-right\">";
						if(comments[x].member.id == memberId)
							item +=	"<a href=\"#content\" onclick='editComment("+ comments[x].id + ", " + comments[x].blog.id + ", " + comments[x].member.id + ")'><i class=\"icofont-reply mr-2 text-muted\"></i>수정 |</a>";

						item += "<span class=\"date-comm\">Posted " + comments[x].createDate + "</span>" +
								"</div>" +
								"<div class=\"comment-content mt-3\">" +
								"<p id='content"+ comments[x].id +"'>" + comments[x].content + "</p>" +
								"</div>" +
								"</div>" +
								"</li>";
					}
					item += "</div></ul>";

					$("#comment-head").html(item);
					$("#content").focus();

					document.getElementById("content").innerText = null;

					resetComment(blogId, memberId);
				}
			});
		} else if (check == false) {
			return 0;
		}
	}

	function editComment(commentId, blogId, memberId) {
		document.getElementById("content").value = document.getElementById("content"+commentId).textContent.trim();
		document.getElementById("content").focus();
		$("#comment-btn").children().remove();
		var item = "";
		item += "<button type=\"button\" class=\"btn btn-main btn-round-full\" onclick=\"addComment(" + blogId + ", " + memberId + ", " + commentId + ")\" name=\"submit-contact\" id=\"submit_contact\" style=\"font-size: 20px;\">댓글 수정</button>" +
				"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+
				"<button type=\"button\" class=\"btn btn-main btn-round-full\" onclick=\"delComment(" + commentId + ", " + memberId +  ", " +  blogId + ")\" name=\"submit-contact\" id=\"submit_contact\" style=\"font-size: 20px;\">댓글 삭제</button>" +
				"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+
				"<button type=\"button\" class=\"btn btn-main btn-round-full\" onclick=\"resetComment(" + blogId + ", " + memberId + ")\" name=\"submit-contact\" id=\"submit_contact\" th:if=\"${session.loginMember?.id}\" style=\"font-size: 20px;\">취소</button>";

		$("#comment-btn").html(item);
	}

	function loadComment(blogId, page, memberId) {
		var data = {
			blog_id:blogId,
			page:page
		}

		$.ajax({
			url: "/csblog/blogs/comments/loadcomments",
			data: JSON.stringify(data),
			type:"POST",
			dataType: "json",
			contentType: "application/json; charset=UTF-8",
			error: function(){
				alert("연결 실패");
			},
			success: function(comments){
				$("#comment-body").children().remove();
				console.log(comments);

				var item = "<ul class=\"comment-tree list-unstyled\">";

				for(var x=0; x<comments.length; x++) {
					item += "<li class=\"mb-5\" id=\"commentNum" + comments[x].id + "\">" +
							"<div class=\"comment-area-box\">" +
							"<div class='thumbnail-wrapper' style='margin-right: 70px;'>" +
							"<img alt=\"\" src=\"/csblog/members/images/" + comments[x].member.profile + "\" class=\"img-fluid float-left mr-3 mt-2\" style=\"width: 40px;height: 40px;position:relative\">" +
							"</div>" +
							"<h5 class=\"mb-1\">작성자 : " + comments[x].member.name + "</h5>" +
							"<span>학번 :" +comments[x].member.studentId+ "</span>" +
							"<div class=\"comment-meta mt-4 mt-lg-0 mt-md-0 float-lg-right float-md-right\">";
					if(comments[x].member.id == memberId)
						item +=	"<a href=\"#content\" onclick='editComment("+ comments[x].id + ", " + comments[x].blog.id + ", " + comments[x].member.id + ")'><i class=\"icofont-reply mr-2 text-muted\"></i>수정 |</a>";

					item += "<span class=\"date-comm\">Posted " + comments[x].createDate + "</span>" +
							"</div>" +
							"<div class=\"comment-content mt-3\">" +
							"<p id='content"+ comments[x].id +"'>" + comments[x].content + "</p>" +
							"</div>" +
							"</div>" +
							"</li>";
				}
				item += "</ul>";

				$("#comment-body").html(item);
			}
		});
		commentPaging(blogId, page, memberId);
	}

	function commentPaging(blogId, page, memberId) {
		var data = {
			blog_id:blogId,
			page:page
		}
		$.ajax({
			url: "/csblog/blogs/comments/commentPaging",
			data: JSON.stringify(data),
			type:"POST",
			dataType: "json",
			contentType: "application/json; charset=UTF-8",
			error: function(){
				alert("연결 실패");
			},
			success: function(page){
				$("#comment-paging").children().remove();
				console.log(page);
				var item = "";

				if(page.hasPreviousPage) {
					item += "<a class=\"prev page-numbers\" href=\"javascript:;\" onclick=\"loadComment(" + blogId + ", " + (page.firstPage-1) + ", " + memberId + ")\">Prev</a>"
				}

				var check = page.firstPage;

				for(var x = 0; x< page.pageSize; x++) {
					if(check == page.currentPageNo) {
						console.log(x);
						item += "<span aria-current=\"page\" class=\"page-numbers current\">\n" +
									"<span>" + check + "</span>\n" +
								"</span>"
					} else {
						item += "<a class=\"page-numbers\" href=\"javascript:;\"\n" +
								"onclick=\"loadComment(" + blogId + ", " + check + ", " + memberId + ")\">\n" +
									"<span>" + check + "</span>\n" +
								"</a>"
					}
					if(check == page.lastPage) {
						break;
					}
					check += 1;
				}
				if(page.hasNextPage) {
					item += "<a class=\"prev page-numbers\" href=\"javascript:;\" onclick=\"loadComment(" + blogId + ", " + (page.lastPage+1) + ", " + memberId + ")\">Next</a>"
				}

				$("#comment-paging").html(item);
			}
		});
	}

	function resetComment(blogId, memberId) {
		console.log("reset");
		$("#content").val('');
		$("#comment-btn").children().remove();
		var item = "";
		item += "<button type=\"button\" class=\"btn btn-main btn-round-full\" onclick=\"addComment(" + blogId + ", " + memberId + ")\" name=\"submit-contact\" id=\"submit_contact\" style=\"font-size: 20px;\">댓글 등록</button>";
		$("#comment-btn").html(item);
	}

</script>


  </html>